<div data-aos="fade" data-aos-duration="500" class="card p-2 rounded border-0 shadow-sm">
    <div class="img-card-container">
      <img src="{{product.img}}" class="card-img-top">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <div>
        <div class="card-body d-flex justify-content-between align-items-center">
          <span class="fs-4 fw-bold">{{product.price | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
          <button class="btn btn-secondary fs-6 mr-1" routerLink="details/{{product.category}}/{{product.id}}">Detalles</button>
          <select class="form-select me-2" style="width: auto;">
            <option value="" disabled selected>Talla</option>
            <option *ngFor="let talla of tallas" [value]="talla">{{talla}}</option>
          </select>
          <button class="btn btn-primary fs-6" (click)="onClick()">+</button>
        </div>
    </div>
</div>
