img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-shadow{
    text-shadow: 5px 5px 40px #000;
} 
iframe{
    border-radius: 8px;
}
.foot-balance{
    text-wrap: balance!important;
}
.hero{
    margin-top: 85px !important;
}
.nav-link:hover{
    text-decoration: underline solid #636363;
}
.pricing-margin{
    margin: 0 3em 0 3em;
}
.our-team{
    font-size: 2.75em;
    padding-bottom: 1em;
}
.team-img{
    border-radius: 50%;
    width: 200px;
    height: auto;
    border: solid 2.5px #000;
    margin: 1em;
}
.col-lg-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-banner{
    height: 300px;
}
.bs-footer{
    width: 65px;
    height: auto;
}
.body-style{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-signin{
    width: 25em;
    max-width: 25em;
    padding: 0.25em;
    border: 1px solid #e2e2e2;
    background-color: #f8f8f8; 
    border-radius: 8px;
}
.home-login{
    padding-top: 0.5em;
}
#features svg{
    filter: invert(1) !important;
}
/*Menu flotante moviles home*/
.botonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;    
    height: 3rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #0D6EFD; 
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 10%;
}
/* Se le quita el borde azul cuando se pulsa en Chrome */
.botonMenu:focus {
    outline: none;
}
/* Cuando es pulsado, se quita el translate que lo ocultaba */
.botonMenu:focus + .principal {
    transform: translateX(0rem);
}
.botonWS {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 3rem;    
    height: 3rem;
    position: absolute;
    top: 50rem;
    right: 2rem;
    background-color: #32D951; 
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}
/* Se le quita el borde azul cuando se pulsa en Chrome */
.botonWS:focus {
    outline: none;
}
/* Cuando es pulsado, se quita el translate que lo ocultaba */
.botonWS:focus + .principal {
    transform: translateX(0rem);
}
/* Se posiciona y se oculta con translate */
nav.principal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15rem;
    background-color: #7A6A53;
    transform: translateX(15rem);
    transition: 1s all;
}
/* Estilos sencillos para decorar los links */
nav.principal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.principal a {
    display: block;
    color: #ffffff;
    padding: 1rem;
    transition: .5s all;
}
nav.principal a:hover {
    text-decoration: none;
    background-color: #0D6EFD;
}

/*Media querys*/

/*Tab + Movil*/
@media (max-width: 1000px){
    .collapse-movil{
        display: initial;
    }
    .hero{
        margin-top: 130px !important;
    }
    .hero-2{
        padding-top: 50px;
    }
    .pricing-margin{
        margin: 0;
    }
    .hero-2{
        margin: 0;  
    }
    iframe{
        height: 300px;
        margin-top: 1em;
    }
    .col-sm-12{
        padding-left: 0.8em;
    }
    .padding-left-team{
        padding-left: 2em;
    }
    .container-footer{
        padding: 0 2em 0 2em;
    }
    .botonWS {
        display: flex;
        justify-content: right;
        align-items: right;
        width: 3rem;    
        height: 3rem;
        position: absolute;
        top: 45rem;
        right: 2rem;
        background-color: #32D951; 
        border: 0;
        color: white;
        cursor: pointer;
        border-radius: 50%;
    }
}

/*Desk*/
@media (min-width: 1000px) and (max-width: 1919px){
    .collapse-nomovil{
        display: none;
    }
    .collapse-movil{
        display: none;
    }
    .botonWS {
        display: flex;
        justify-content: right;
        align-items: right;
        width: 3rem;    
        height: 3rem;
        position: absolute;
        top: 55rem;
        right: 5rem;
        background-color: #32D951; 
        border: 0;
        color: white;
        cursor: pointer;
        border-radius: 50%;
    }
}
/*Full HD & >*/
@media (min-width: 1920px) and (max-width: 3000px){
    .collapse-nomovil{
        display: none;
    }
    .collapse-movil{
        display: none;
    }
    .botonWS {
        display: flex;
        justify-content: right;
        align-items: right;
        width: 3rem;    
        height: 3rem;
        position: absolute;
        top: 80rem;
        right: 5rem;
        background-color: #32D951; 
        border: 0;
        color: white;
        cursor: pointer;
        border-radius: 50%;
    }
}
/*Wide - 4k*/
@media (min-width: 3000px) and (max-width: 4000px){
    .collapse-nomovil{
        display: none;
    }
    .collapse-movil{
        display: none;
    }
    .botonWS {
        display: flex;
        justify-content: right;
        align-items: right;
        width: 3rem;    
        height: 3rem;
        position: absolute;
        top: 120rem;
        right: 10rem;
        background-color: #32D951; 
        border: 0;
        color: white;
        cursor: pointer;
        border-radius: 50%;
    }
}