<nav class="navbar navbar-expand-lg fixed-top nav-shop bg-white">
  <div class="container-fluid container">
    <!--Whatsapp botton-->
    <div class="container-fluid container">
      <div id="navbarSupportedContent">
        <app-whatsapp-button></app-whatsapp-button>         
      </div>
    </div>
    <div class="container col-3 col-sm-3 col-lg-2 center-important">
      <a routerLink="/">
        <img src="../../../../assets/img/var/logo-shop-head.png" loading="lazy">
      </a>
    </div>  
      <!--Barra de menu para escritorio y wide-->
      <div class="collapse navbar-collapse collapse-nomovil" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" routerLink="/hoodies">Hoodies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" routerLink="/raglan">Camibusos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" routerLink="/camisetas">Camisetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" routerLink="/estampados">Estampados</a>
          </li>
        </ul>
      </div>
      <app-mobile-menu></app-mobile-menu>
      <div>
        <app-cart-button></app-cart-button>
      </div>
    </div>
</nav>