.carousel-control-prev-icon 
{
    width: 10px;
    height: 10px;
}
    
.carousel-control-next-icon
{
    width: 12px;
    height: 12px;
}
.text-container {
    margin-top: 42pt;
}
@media (max-width: 1000px){
  .text-container {
    margin-top: 30pt;
  }
}
@media (min-width: 765px) and (max-width: 1000px){
  .text-container {
    margin-top: 36pt;
  }
}