<!-- footer -->
<div class="container container-fluid container-footer overflow-hidden">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 my-3">
        <div class="col m-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="">Hoodies</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="">Camisas Raglan</a>
            </li>       
          </ul>
        </div>
        <div class="col m-2">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a class="nav-link p-0 text-muted" href="">Camisetas</a>
              </li>     
              <li class="nav-item mb-2">
                <a class="nav-link p-0 text-muted" href="">Estampados</a>  
              </li>
          </ul>
        </div>
        <div class="col m-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="text-muted" class="nav-link p-0 text-muted" routerLink="/shop">eShop</a>
            </li>
          </ul>
        </div>
        <div class="col m-2 container-fluid">
            <div class="container text-center">
              <img onClick="window.location.reload();" src="../../assets/img/var/logo-foot.png" loading="lazy">
            </div>  
        </div>
    </footer>
</div>
<div class="container-fluid text-center p-2 m-0 bg-dark pb-1 px-4">
  <div class="container foot-balance">
    <a class="nav-link p-1 text-muted">Kemistry&copy; Clothing - Derechos Reservados San Juan de Pasto, Nariño - Colombia</a>
  </div>
</div>
