<!-- footer -->
<div class="container-fluid container-footer overflow-hidden">
  <div class="container mx-auto px-2">
    <footer class="row py-3 my-3">
      <div class="col-12">
        <ul class="nav flex-column flex-md-row justify-content-md-between">
          <li class="nav-item">
            <a class="text-foot nav-link p-1 text-muted" routerLink="/hoodies">Hoodies</a>
          </li>
          <li class="nav-item">
            <a class="text-foot nav-link p-1 text-muted" routerLink="/raglan">Camibusos</a>
          </li>
          <li class="nav-item">
            <a class="text-foot nav-link p-1 text-muted" routerLink="/camisetas">Camisetas</a>
          </li>
          <li class="nav-item">
            <a class="text-foot nav-link p-1 text-muted" routerLink="/estampados">Estampados</a>
          </li>
          <li class="nav-item">
            <a class="text-foot nav-link p-1 text-muted" routerLink="/shop">eShop</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
<div class="container-fluid text-center p-2 m-0 bg-dark pb-1 px-4">
  <div class="container foot-balance">
    <div class="container center-important">
      <a routerLink="/"><img src="../../assets/img/var/logo-footb.png" loading="lazy"></a>
    </div>
    <a class="nav-link p-1 p-md-2 text-muted small small-md">Kemistry&copy; Clothing 2024- Derechos Reservados</a>
    <a class="nav-link p-1 p-md-2 text-muted small small-md">San Juan de Pasto, Colombia</a>
  </div>
</div>